// // colors

// $accentColor = #0088f5//默认主题颜色
// $textColor = rgba(255,255,255,.85)//默认字体颜色
// $borderColor = black//默认边框颜色
// // $borderColor = #eaecef//默认边框颜色
// $codeBgColor = #282c34//默认背景颜色
// $arrowBgColor = white
// // $arrowBgColor = #ccc
// $badgeTipColor = #42b983 //默认颜色
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// // layout
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px

// // responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

// // code
// $lineNumbersWrapperWidth = 3.5rem
// $codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile

// $mainbg = rgba(0,0,0,.8)
// $codebg = rgba(0,0,0,.9)
// $pagebg = rgba(0,0,0,.85)

// // .navbar 
// //   background-color: rgba(0,0,0,0.6)
// //   backdrop-filter: blur(5px)
// //   .site-name
// //     color: #42b983!important
